* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
}

.hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("/img/Optimized-AmericanPurePoolsCoverImage.png");
	height: 75%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero-text {
	color: #FFFF;
	text-shadow: 2px 2px 4px #000000;
	text-align: center;
	margin: 25px;
}

.logo {
	width: 300px;
}

.hero-text > h1 {
	font-size: 5em;
	padding-bottom: 20px;
}

.hero-text > h2 {
	font-size: 2em;
	padding-bottom: 25px;
}

.phone-numbers {
	padding-bottom: 25px;
}

.cta {
	font-size: 1.5em;
	padding: 20px;
}

.phone-numbers > h3,
a {
	margin: 10px;
	color: #FFFF;
}

.services {
	background-color: #347ab7;
	padding: 50px 50px 0 50px;
	color: #FFFF;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex: 1;
}

.services-section {
	margin: 20px 20px;
	display: flex;
	flex-direction: column;
	flex: 1;
	min-width: 300px;
}

.services-section > h2,
p {
	padding: 0 0 10px 0;
}

.services-section > ul {
	padding: 0 0 0 40px;
	margin: 0 0 10px 0;
}

.button-section {
	background-color: #347ab7;
	padding: 25px 0 50px 0;
	display: flex;
	justify-content: center;
	font-size: x-large;
	text-align: center;
}

.callout {
	padding: 100px 0;
	text-align: center;
	font-size: xx-large;
}

.about {
	padding: 50px 100px;
	text-align: center;
	background-color: #347ab7;
	color: #FFFF;
}

.about > h2 {
	font-size: xx-large;
}

.about > h3 {
	padding-bottom: 10px;
}

hr {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
	width: 100px;
}

.footer {
	opacity: .8;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 50px 50px 10px 50px;
	text-align: center;
}

.footer > ul {
	list-style-type: none;
}

.footer li {
	padding: 2px;
}

.footer a {
	color: #347ab7;
}

.social ul {
	padding: 20px 0;
	display: flex;
	flex-direction: row;
	list-style-type: none;
}

.logos {
	display: flex;
	justify-content: center;
	padding-bottom: 15px;
	flex: 1;
	flex-wrap: wrap;
}

.logos p {
	`: 10px;
}

.nspf {
	filter: invert(100%);
	width: 4em;
	height: auto;
}

.ipssa {
	width: 4em;
	height: auto;
}

@media screen and (max-width: 480px) {
	/* .logos {display: none;} */
	.about {
		padding: 10px;
	}
}
